/.consulo/workspace.xml
/.consulo/modules.xml
/.consulo/uiDesigner.xml
/.consulo/compiler.xml
/.consulo/encodings.xml
/.consulo/compiler.xml
/.consulo/misc.xml
/.consulo/copyright/profiles_settings.xml
/.consulo/libraries/     
plugin/sandbox/
target/
